*.class
*.log
*.swp
*.swo
*.swn
*.pyc

target/

# eclipse specific
.classpath
.project
.settings


.DS_Store

# robot specific
out/
*.png
log*.html
report*.html
output*.xml
documentation/
# IntelliJ
*.idea
